body {
  background-color: aqua;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  margin: auto;
  font-size: 40px;
  font-weight: bolder;
  width: 95%;
  text-align: center;
  border-bottom: 1px solid gray;
  padding: 10px;
}
form {
  margin: 10px auto;
  width: 95%;
  display: flex;
  flex-direction: column;
}
input,
textarea {
  padding: 10px;
  border: none;
  margin: 5px 0;
}

button {
  padding: 10px;
  background-color: green;
  border: none;
  color: white;
  margin: 5px 0;
}
textarea {
  height: 80px;
}
